@model IEnumerable<Category>

@foreach (var category in Model) {
    <form asp-action="Index" method="get" asp-controller="Category">
        <input type="hidden" name="id" value="@category.Id" />
        <input type="hidden" name="name" value="@category.Name" />
        
        <button type="submit" class="font-weight-bold btn btn-outline-light nav-button"> 
            @category.Name
        </button>
    </form>
}